<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../css/home.css" rel="stylesheet">
</head>

<body>
    <!-- NAVIGATION HEADER -->
    <div class="bImage" id="bImage">

        <header>
            <ul>
                <!-- <li>
                    <a href="/index.html" id="logout" class="logout">Logout</a>
                </li> -->
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="tips.html">Tips</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="" id="logout">logout</a>
                </li>
                <li>
                    <a href="" id="profile">profile</a>
                </li>
                <!-- <li>
                    <a href="" class="modal-trigger" data-target = "modal-profile" id="profile">profile</a>
                </li> -->
            </ul>
        </header>

        <h1 class="ImgHeader">Assistive tool for health care</h1>
    </div>


    <!-- MAIN AREA -->
    <main>
        <!-- SERVICES -->
        <h1 class="serviceHeader">Services</h1>
        <!-- line break -->
        <div class="lineBreak" id="lineBreak">
            <hr>
        </div>
        <div class="cardsContainer">


            <div class="card">
                <img src="../img/heart rate.gif" class="heartRateImg">
                <h2>Heart Rate</h2>
                <h4>Keeping Track Of Heart Rate Is One Of Our Main Services. Heart Rate Is The Number One Case Of Heart
                    Attacks.</h4>
                <a><button>Learn More</button></a>
            </div>

            <div class="card">
                <img src="../img/blood pressure1.gif" class="bloodPressureImg">
                <h2>Blood Pressure</h2>
                <h4>Keeping Track Of Blood Pressure Is One Of Our Main Services. It The Main Reason Of Brain Stocks.
                </h4>
                <a><button>Learn More</button></a>
            </div>

            <div class="card">
                <img src="../img/sleep.gif" class="sleepingImg">
                <h2>Sleeping Hours</h2>
                <h4>Keeping Track Of Deep And Shallow Is One Of Our Main Services. Sleeping Is Vital For The Immune
                    System.</h4>
                <a><button>Learn More</button></a>
            </div>

            <div class="card">
                <img src="../img/calo.gif" class="caloriesBurntImg">
                <h2>Calories Burnt</h2>
                <h4>Keeping Track Of Calories Burnt Is One Of Our Main Services. It's A Sign Of Malignant Diseases.</h4>
                <a><button>Learn More</button></a>
            </div>
        </div>
        <!-- BECOME A MEMBER -->

        <h1 class="becomeAMemberHeader">Become A Member</h1>

        <!-- line break -->
        <div class="lineBreak" id="lineBreak">
            <hr>
        </div>

        <div class="becomeAmemeber" id="becomeAmemeber">
            <h4>
                Become A Member And Unlock The Full Power Of This Medical System. We Offer Our Clients The Best Elite
                Professional Care In The World. As A Member You Will Be In The Hands Of The Top 300+ Doctors From All
                Medical Fields From All Around The World.
            </h4>
        </div>

        <!-- MEET THE TEAM -->

        <h1 class="meetTheTeam">Meet The Team</h1>
        <div class="spinningImages">
            <img src="../img/member_me.png" class="meetTheTeamImg" id="MohgaEmam">
            <img src="../img/member_ma.jpg" class="meetTheTeamImg" id="MiladAtef">
            <img src="../img/member_mm.jpg" class="meetTheTeamImg" id="MostafaMohamed">
            <img src="../img/member_ms.jpg" class="meetTheTeamImg" id="MostafaMorsy">
        </div>

        <!-- NUMBERS SPEAKS LOUDER THAN WORDS -->

        <h1 class="numberSpeaksHeader">Numbers Speaks Louder Than Words</h1>

        <div class="lineBreak" id="lineBreak">
            <hr>
        </div>

        <div class="numbersSpeaks" id="numbersSpeaks">
            <div class="homeNumbersDiv">
                <h1 class="homeNumbers">98%</h1>
                <h3 class="homeNumberheaders">Satisfaction Rates</h3>
            </div>
            <div class="homeNumbersDiv">
                <h1 class="homeNumbers">100K</h1>
                <h3 class="homeNumberheaders">Subscribed Patient</h3>
            </div>
            <div class="homeNumbersDiv">
                <h1 class="homeNumbers">12+</h1>
                <h3 class="homeNumberheaders">Measurement Per Hour</h3>
            </div>
            <div class="homeNumbersDiv">
                <h1 class="homeNumbers">300+</h1>
                <h3 class="homeNumberheaders">Elite Doctor</h3>
            </div>
        </div>
    </main>

    <!-- <div id="modal-profile" class="modal blue">
        <div class="modal-content">
          <h4> Access User Profile</h4><br />
          <form id="profile-form">
            <div class="input-field">
              <a href="" class="gray darken-2 z-depth-0">Access profile</a>
            </div>
            <div class="input-field">
                
              </div>
          </form>
        </div>
      </div> -->

    <!-- FOOTER -->
    <footer>
        <h3>This is the offcial website for the Assistive tool project</h3>
        <h5>All copy rights are reserved for @benha team for development.</h5>
    </footer>

    <!-- Firebase Authentication credentials-->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC9I8i6Z8gLXY6PMGX_kG10kfA7rxcvGFM",
    authDomain: "graduation-project-bff6d.firebaseapp.com",
    databaseURL: "https://graduation-project-bff6d.firebaseio.com",
    projectId: "graduation-project-bff6d",
    storageBucket: "graduation-project-bff6d.appspot.com",
    messagingSenderId: "366663866301",
    appId: "1:366663866301:web:943064f525a6b40b85a4d4",
    measurementId: "G-PX7WP4BN1Y"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();


  // make auth and firestore references
  const auth = firebase.auth();
  const db = firebase.firestore();

    // update firestore settings
    // db.settings({ timestampsInSnapshots: true });
</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/home.js"></script>

</body>

</html>