<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../css/profileeditpatient.css" rel="stylesheet">
</head>

<body>
    <!-- NAVIGATION HEADER -->
    <div class="bImage" id="bImage">

        <header>
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="tips.html">Tips</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="" id="logout">logout</a>
                </li>
                <li>
                    <a href="" id="profile">profile</a>
                </li>
            </ul>
        </header>

        <h1 class="ImgHeader">Assistive tool for health care</h1>
    </div>

    <!-- MAIN -->
    <main>
        <!-- EDIT IMAGE -->

        <div class="doctorImgContainer">


            <div class="doctorProfileImg" id="doctorProfileImg">
                <img src="../img/client1.jpg" class="doctorImg">
                <h1 class="doctorName" id="doctorName"></h1>
                <!-- DOCTOR SPECIALIZATION -->
                <div class="doctorSpecialization" id="doctorSpecialization">
                    <h1></h1>
                </div>
            </div>
        </div>




        <!-- EDIT CONTACTS -->

        <h1 class="patientDoctorHeader">Contacts List</h1>

        <div class="lineBreak" id="lineBreak" style="margin-left: 25%;">
            <hr>
        </div>

        <div class="editPatient">
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader">Contacts Name</h1>
                <ul class="editPatientUL" id="contactName">
                </ul>


            </div>
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader">Contacts Number</h1>
                <ul class="editPatientUL" id="contactNumber">
                </ul>
            </div>
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader"></h1>
                <ul class="editPatientUL">

                </ul>
            </div>
            <!-- DELETE CONTACT-->
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader"></h1>
                <ul class="editPatientUL" id="contactDelete">
                </ul>
            </div>
            <!-- UPDATE CONTACT-->

        </div>

        <div class="changeDoctorLink" style="width: 25%;">
            <a style="width: 50%;" href="#" class="modal-trigger" data-target="modal-addContact" id="updateDoctor">add contact</a>
        </div>

        <!-- EDIT DOCTORS -->

        <h1 class="patientDoctorHeader">Doctors's List</h1>

        <div class="lineBreak" id="lineBreak">
            <hr>
        </div>
        <!-- DOCTOR'S NAME-->
        <div id="doctorListContainer">
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader">Doctor Name</h1>
                <ul class="editPatientUL" id="doctorList">
                </ul>
            </div>

            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader"></h1>
                <ul class="editPatientUL">
                </ul>
            </div>

            <!-- UPDATE DOCTOR-->
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader"></h1>
                <ul class="editPatientUL" id="editDoc">
                </ul>
            </div>

            <!-- DELETE DOCTOR-->
            <div class="editPatientDiv" id="editPatientDiv">
                <h1 class="editPatientHeader"></h1>
                <ul class="editPatientUL">
                </ul>
            </div>

        </div>

        <div class="changeDoctorLink" style="width: 25%;">
            <a style="width: 50%;" href="#" class="modal-trigger" data-target="modal-addDoctor">add doctor</a>
        </div>
    </main>

    <div id="modal-update" class="modal">
        <div class="modal-content">
            <h4>Update Contact</h4><br />
            <form id="updateContact-form">
                <div class="input-field">
                    <input type="text" id="contact-updateName" name="contactUpdateName" required />
                    <label for="signup-email">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" id="contact-updateNumber" name="contactUpdateNumber" required />
                    <label for="signup-password">Number</label>
                </div>
                <button class="btn blue darken-2 z-depth-0" id="updateButton">Update</button>
            </form>
        </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div id="modal-doctor" class="modal">
        <div class="modal-content">
            <h4>Update Doctor</h4><br />
            <form id="updateDoctor-form">
                <div class="input-field">
                    <input type="text" name="doctorName" required />
                    <label for="signup-email">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" name="doctorSpecialization" required />
                    <label for="signup-password">Specialization</label>
                </div>
                <button class="btn blue darken-2 z-depth-0">Update</button>
            </form>
        </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div id="modal-addContact" class="modal">
        <div class="modal-content">
            <h4>Add Contact</h4><br />
            <form id="addContact-form">
                <div class="input-field">
                    <input type="text" id="addContact-name" name="name" required />
                    <label for="signup-email">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" id="addContact-number" name="number" required />
                    <label for="signup-password">Number</label>
                </div>
                <button class="btn blue darken-2 z-depth-0">Add</button>
            </form>
        </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div id="modal-addDoctor" class="modal">
        <div class="modal-content">
            <h4>Add Doctor</h4><br />
            <form id="addDoctor-form">
                <div class="input-field">
                    <input type="text" id="addDoctor-name" name="doctor" required />
                    <label for="signup-email">Name</label>
                </div>
                <div class="input-field">
                    <input type="text" id="addDoctor-Specialization" name="specialization" required />
                    <label for="signup-password">Specialization</label>
                </div>
                <button class="btn blue darken-2 z-depth-0">Add</button>
            </form>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <h3>This is the offcial website for the Assistive tool project</h3>
        <h5>All copy rights are reserved for @benha team for development.</h5>
    </footer>


    <!-- Firebase Authentication credentials-->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyC9I8i6Z8gLXY6PMGX_kG10kfA7rxcvGFM",
            authDomain: "graduation-project-bff6d.firebaseapp.com",
            databaseURL: "https://graduation-project-bff6d.firebaseio.com",
            projectId: "graduation-project-bff6d",
            storageBucket: "graduation-project-bff6d.appspot.com",
            messagingSenderId: "366663866301",
            appId: "1:366663866301:web:943064f525a6b40b85a4d4",
            measurementId: "G-PX7WP4BN1Y"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();


        const auth = firebase.auth();
        const db = firebase.firestore();
        document.querySelectorAll('.messageDoctor').onclick = function () {
            console.log()
        }
    </script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="../js/profileeditpatient.js"></script>



</body>

</html>