<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../css/services.css" rel="stylesheet">
</head>
<body>
    <!-- NAVIGATION HEADER -->
    <div class="bImage" id="bImage">

        <header>
            <ul class="HeaderUL">
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="tips.html">Tips</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="" id="logout">logout</a>
                </li>
                <li>
                    <a href="" id="profile">profile</a>
                </li>
            </ul>
        </header>

        <h1 class="ImgHeader">Service</h1>
    </div>

    <!-- MAIN -->
    <main>
        
        <!-- DESCRIPTION -->
        <h1 class="offerHeader">WHAT DO WE OFFER YOU</h1>
        

        <div class="serviceDiscription" id="serviceDiscription">
            <div class="card">
                <h2>Heart Rate</h2>
                <img src="../img/heart rate.gif" class="heartRateImg">
                <ul class="serviceUL" id="serviceUL">
                    <li>Regular Measures.</li>
                    <li>Keep Track Of The Heart Health 24/7.</li>
                    <li>The Ability To Follow Up With A Doctor Of Your Choice.</li>
                    <li>Send Alerts To Your Doctor And The Nearest Hospitals.</li>
                    <li>The Possibility To Send Alerts To Two Of Your Personal Contacts.</li>
                </ul>

                </div>
    
            <div class="card">
                <h2>Blood Pressure</h2>
                <img src="../img/blood pressure1.gif" class="bloodPressureImg">
                <ul class="serviceUL" id="serviceUL">
                    <li>Regular Measures.</li>
                    <li>Keep Track Of The Blood Pressure 24/7.</li>
                    <li>The Ability To Send The Measurements To Your Doctor.</li>
                    <li>Keep A Personalized Dataset With All Your Measurements Present.</li>
                </ul>
            </div>
    
            <div class="card">
                <h2>Deep Sleep</h2>
                <img src="../img/sleep.gif" class="sleepingImg">
                <ul class="serviceUL" id="serviceUL">
                    <li>Regular Measures.</li>
                    <li>Identify The Deep Sleep Hours.</li>
                    <li>Alert The Doctor With Critical Cases.</li>
                    <li>Keep Track Of The Deep Sleep Measurements.</li>
                    <li>Provide Dedicated Tips To Help With Insomnia.</li>
                    <li>The Ability To Follow Up With A Professional Doctor.</li>
                </ul>
                </div>

                <div class="card">
                    <h2>Shallow Sleep</h2>
                    <img src="../img/sleep.gif" class="sleepingImg">
                    <ul class="serviceUL" id="serviceUL">
                        <li>Regular Measures.</li>
                        <li>Identify The Shallow Sleep Hours.</li>
                        <li>Alert The Doctor With Critical Cases.</li>
                        <li>Keep Track Of The Shallow Sleep Measurements.</li>
                        <li>Provide Dedicated Tips To Help With Insomnia.</li>
                        <li>The Ability To Follow Up With A Professional Doctor.</li>
                    </ul>
                    </div>
    
            <div class="card">
                <h2>Calories Burnt</h2>
                <img src="../img/calo.gif" class="caloriesBurntImg">
                <ul class="serviceUL" id="serviceUL">
                    <li>Regular Measures.</li>
                    <li>Keep Track Of The Number Of Calories Burnt Per Day.</li>
                    <li>Send Alerts To Your Doctor And The Nearest Hospitals.</li>
                    <li>The Ability To Follow Up With A Doctor Of Your Choice.</li>
                    <li>The Possibility To Send Alerts To Two Of Your Personal Contacts.</li>
                </ul>
                </div>
        </div>
        <!-- OUR HAPPY CLIENTS -->

        <h1 class="happyClientsHeader">Our Happy Clients</h1>

        <div class="serviceClientCard" id="serviceClientCard">


            <div class="clientCard" id="clientCard">
                <h3>Using This Amazing Medical Tool Combined With The System Really Saved My Life. I Suffer From A Congenital Heart Disease That Makes It Hard For Me To Keep Track Of My Health. But With The Help Of The System Is Was Able To Keep Track Of It For The First Time.</h3>
                <img src="../img/client1.jpg" class="meetTheTeamImg" id="beardGuy">
                <h5>Martin Smith</h5>
                <p>CEO</p>
            </div>

            <div class="clientCard" id="clientCard">
                <h3>Last Year I Had An Accident And I Couldn’t Get A Good Night Sleep Since Then. My Insomnia Sky Rocketed Three Months Ago When I Was Close To Lose My Job Because Of It. But This System Helped Me With My Sleep. I’m So Grateful For It! Thank You So Much.</h3>
                <img src="../img/client2.jpg" class="meetTheTeamImg" id="glassesLady">
                <h5>Shelly Barns</h5>
                <p>Accountant</p>
            </div>

            <div class="clientCard" id="clientCard">
                <h3>My Mother Suffers From A Malignant Disease Which We Found Out About Using This System. Without It My Mother’s Case Would Have Been Too Late For Treatment But We Found Out Early Using This Wonderful System And Tool. Now We Can Track Her Measurements.</h3>
                <img src="../img/client3.jpg" class="meetTheTeamImg" id="actorGuy">
                <h5>Luke Jacobs</h5>
                <p>Actor</p>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <footer>
        <h3>This is the offcial website for the Assistive tool project</h3>
        <h5>All copy rights are reserved for @benha team for development.</h5>
      </footer>

      <!-- Firebase Authentication credentials-->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC9I8i6Z8gLXY6PMGX_kG10kfA7rxcvGFM",
    authDomain: "graduation-project-bff6d.firebaseapp.com",
    databaseURL: "https://graduation-project-bff6d.firebaseio.com",
    projectId: "graduation-project-bff6d",
    storageBucket: "graduation-project-bff6d.appspot.com",
    messagingSenderId: "366663866301",
    appId: "1:366663866301:web:943064f525a6b40b85a4d4",
    measurementId: "G-PX7WP4BN1Y"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();


  // make auth and firestore references
  const auth = firebase.auth();
    const db = firebase.firestore();

    // update firestore settings
    // db.settings({ timestampsInSnapshots: true });
</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="../js/services.js"></script>


</body>
</html>