<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../css/tips.css" rel="stylesheet">
</head>

<body>
    <!-- NAVIGATION HEADER -->
    <div class="bImage" id="bImage">

        <header>
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="tips.html">Tips</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="" id="logout">logout</a>
                </li>
                <li>
                    <a href="" id="profile">profile</a>
                </li>
            </ul>
            <h1 class="ImgHeader">TIPS</h1>
        </header>

        <!-- MAIN -->

        <main>

            <h1 class="conditionTipsHeader">Here's our TIPS based on your condition!</h1>

            <div class="lineBreak" id="lineBreak">
                <hr>
            </div>

            <!-- SECTION: HEADER/IMAGE/SECTION:OKAY/LOW/HIGH{UL ELEMENTS} -->
            <div class="tipsAdvices" id="tipsAdvices">

                <div class="tipsAdvicesHeardRate" id="tipsAdvicesHeardRate">
                    <div class="okayHeartRate" id="okayHeartRate">
                        <h1>Incredible, You have a great heart rate!</h1>
                    </div>
                    <div class="highHeartRate" id="highHeartRate">
                        <h1>High Heart Rate TIPS:</h1>
                        <ul class="highHeartRateList" id="highHeartRateList">
                            <li>
                                <h3>Practicing Deep Or Guided Breathing Techniques, Such As Box Breathing.</h3>
                            </li>
                            <li>
                                <h3>Relaxing And Trying To Remain Calm.</h3>
                            </li>
                            <li>
                                <h3>Going For A Walk, Ideally Away From An Urban Environment.</h3>
                            </li>
                            <li>
                                <h3>Having A Warm, Relaxing Bath Or Shower.</h3>
                            </li>
                            <li>
                                <h3>Practice Stretching And Relaxation Exercises, Such As Yoga.</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="lowHeartRate" id="lowHeartRate">

                        <h1>Low Heart Rate TIPS:</h1>
                        <ul class="lowHeartRateList" id="lowHeartRateList">
                            <li>
                                <h3>Having A Heart-Healthy Eating Plan That Includes Vegetables, Fruits, Nuts, Beans,
                                    Lean Meat, Fish, And Whole Grains. Limit Alcohol, Sodium, And Sugar.</h3>
                            </li>
                            <li>
                                <h3>Being Active On Most, If Not All, Days Of The Week. Your Doctor Can Tell You What
                                    Level Of Exercise Is Safe For You.</h3>
                            </li>
                            <li>
                                <h3>Losing Weight If You Need To, And Staying At A Healthy Weight.</h3>
                            </li>
                            <li>
                                <h3>Stop Smoking.</h3>
                            </li>
                            <li>
                                <h3>Managing Other Health Problems, Such As High Blood Pressure, High Cholesterol, And
                                    Diabetes.</h3>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="tipsAdvicesBloodPressure" id="tipsAdvicesBloodPressure">
                    <div class="okayBloodPressure" id="okayBloodPressure">
                        <h1>Incredible, You have a great blood pressure!</h1>
                    </div>
                    <div class="highBloodPressure" id="highBloodPressure">
                        <h1>High Blood Pressure TIPS:</h1>
                        <ul class="highBloodPressureList" id="highBloodPressureList">
                            <li>
                                <h3>Walk And Exercise Regularly.</h3>
                            </li>
                            <li>
                                <h3>Reduce Your Sodium Intake.</h3>
                            </li>
                            <li>
                                <h3>Drink Less Alcohol.</h3>
                            </li>
                            <li>
                                <h3>Eat More Potassium-Rich Foods.</h3>
                            </li>
                            <li>
                                <h3>Cut Back On Caffeine.</h3>
                            </li>
                            <li>
                                <h3>Learn To Manage Stress.</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="lowBloodPressure" id="lowBloodPressure">
                        <h1>Low Blood Pressure TIPS:</h1>
                        <ul class="lowBloodPressureList" id="lowBloodPressureList">
                            <li>
                                <h3>Drink Plenty Of Water.</h3>
                            </li>
                            <li>
                                <h3>Eat A Balanced Diet.</h3>
                            </li>
                            <li>
                                <h3>Check Your Blood Sugar.</h3>
                            </li>
                            <li>
                                <h3>Get Your Thyroid Checked.</h3>
                            </li>
                            <li>
                                <h3>Take Medications.</h3>
                            </li>
                            <li>
                                <h3>Treat Infections.</h3>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tipsAdvicesSleepingHours" id="tipsAdvicesSleepingHours">
                    <div class="okaySleepingHours" id="okaySleepingHours">
                        <h1>Incredible, You have great sleeping hours!</h1>
                    </div>
                    <div class="highSleepingHours" id="highSleepingHours">
                        <h1>Deep Sleep Hours TIPS:</h1>
                        <ul class="highSleepingHoursList" id="highSleepingHoursList">
                            <li>
                                <h3>Stop Looking At Screens At Least One Hour Before Bed.</h3>
                            </li>
                            <li>
                                <h3>Stick To Your Bedtime, Even On Weekends.</h3>
                            </li>
                            <li>
                                <h3>Find Your Ideal Temperature.</h3>
                            </li>
                            <li>
                                <h3>Avoid Large Meals And Exercise Before Falling Asleep.</h3>
                            </li>
                            <li>
                                <h3>Take Time To Unwind.</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="lowSleepingHours" id="lowSleepingHours">
                        <h1>Shallow Sleep Hours TIPS:</h1>
                        <ul class="lowSleepingHoursList" id="lowSleepingHoursList">
                            <li>
                                <h3>Cut Caffeine After 2 P.M.</h3>
                            </li>
                            <li>
                                <h3>Exercise Regularly.</h3>
                            </li>
                            <li>
                                <h3>Limit Alcohol, Especially Before Bed.</h3>
                            </li>
                            <li>
                                <h3>Time Your Naps.</h3>
                            </li>
                            <li>
                                <h3>Reserve Your Bedroom For Rest.</h3>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tipsAdvicesCaloriesBurnt" id="tipsAdvicesCaloriesBurnt">
                    <div class="okayCaloriesBurnt" id="okayCaloriesBurnt">
                        <h1>Incredible, You have a great calories burining rate!</h1>
                    </div>
                    <div class="highCaloriesBurnt" id="highCaloriesBurnt">
                        <h1>High Calroies Burning Rate TIPS:</h1>
                        <ul class="highCaloriesBurntList" id="highCaloriesBurntList">
                            <li>
                                <h3>Don’t Drink Water Before Meals.</h3>
                            </li>
                            <li>
                                <h3>Eat At Least 3 Times Per Day.</h3>
                            </li>
                            <li>
                                <h3>Drink Milk.</h3>
                            </li>
                            <li>
                                <h3>Eat Energy-Dense Foods.</h3>
                            </li>
                            <li>
                                <h3>Improve Your Strength.</h3>
                            </li>
                            <li>
                                <h3>Take Creatine.</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="lowCaloriesBurnt" id="lowCaloriesBurnt">
                        <h1>Low Calroies Burning Rate TIPS:</h1>
                        <ul class="lowHeartRateList" id="lowHeartRateList">
                            <li>
                                <h3>Exercise To Burn Calories.</h3>
                            </li>
                            <li>
                                <h3>Do Strength Training To Build Muscle.</h3>
                            </li>
                            <li>
                                <h3>Drink Caffeinated Green Or Black Tea.</h3>
                            </li>
                            <li>
                                <h3>Eat Smaller, More Frequent Meals.</h3>
                            </li>
                            <li>
                                <h3>Don’t Skip Breakfast.</h3>
                            </li>
                            <li>
                                <h3>Eat Low-Fat Dairy.</h3>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            <h3>This is the offcial website for the Assistive tool project</h3>
            <h5>All copy rights are reserved for @benha team for development.</h5>
        </footer>

        <!-- Firebase Authentication credentials-->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC9I8i6Z8gLXY6PMGX_kG10kfA7rxcvGFM",
    authDomain: "graduation-project-bff6d.firebaseapp.com",
    databaseURL: "https://graduation-project-bff6d.firebaseio.com",
    projectId: "graduation-project-bff6d",
    storageBucket: "graduation-project-bff6d.appspot.com",
    messagingSenderId: "366663866301",
    appId: "1:366663866301:web:943064f525a6b40b85a4d4",
    measurementId: "G-PX7WP4BN1Y"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();


  // make auth and firestore references
  const auth = firebase.auth();
    const db = firebase.firestore();

    // update firestore settings
    // db.settings({ timestampsInSnapshots: true });
</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="../js/tips.js"></script>


</body>

</html>